<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608356099695-2b0or1mn0ur7l1b2dtcjef3jiq9ab7gd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608356099695-2b0or1mn0ur7l1b2dtcjef3jiq9ab7gd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>608356099695-rkgjha641mg4em24u9nlqsfnlm2if2tj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDV3BukgtL0HrtDB7qukSVhYWLkRzRFe_o</string>
	<key>GCM_SENDER_ID</key>
	<string>608356099695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roxiit.stores.roxiit</string>
	<key>PROJECT_ID</key>
	<string>roxiit2</string>
	<key>STORAGE_BUCKET</key>
	<string>roxiit2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608356099695:ios:3e49b3b5970a6087c78f9a</string>
	<key>DATABASE_URL</key>
	<string>https://roxiit2.firebaseio.com</string>
</dict>
</plist>